In [1]:
! pip install selenium

In [2]:

#importing libraries
import pandas as pd
import psycopg2
import numpy as np

In [3]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_R.csv")
df_buses_6=pd.read_csv("df_buses_SB.csv")
df_buses_7=pd.read_csv("df_buses_H.csv")
df_buses_8=pd.read_csv("df_buses_AS.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,MMK Travels,VE A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 750,21 Seats available,4.4\n485,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SAAM BUS,VE A/C Sleeper (2+1),20:10,06:45,10h 35m,INR 900,19 Seats available,4.5\n149,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,NS Transports,NON A/C Sleeper (2+1),21:45,06:10,08h 25m,INR 900,15 Seats available,4.3\n288,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdDA Transports,A/C Sleeper (2+1),21:45,07:00,09h 15m,INR 700,27 Seats available,3.6\n307,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,INR 599,37 Seats available,4.2\n339,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2305,Express Line,Volvo 9600 Multi Axle Semi-Sleeper (2+2),15:30,19:40,04h 10m,INR 524,32 Seats available,4.6\n45,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2306,Express Line (Karunamoyee),Volvo A/C Seater (2+2),15:45,20:45,05h 00m,INR 524,19 Seats available,4.5,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2307,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo A/C Seater (2+2),16:00,21:00,05h 00m,INR 524,31 Seats available,4.3\n125,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2308,Greenline,Volvo 9600 Multi Axle Semi-Sleeper (2+2),16:00,20:00,04h 00m,INR 524,25 Seats available,4.2\n53,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2309,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),16:40,21:40,05h 00m,INR 524,25 Seats available,4.0\n59,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

# DATA CLEANING

In [4]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2310 non-null   object
 1   Bus_type         2310 non-null   object
 2   Start_time       2310 non-null   object
 3   End_time         2310 non-null   object
 4   Total_duration   2310 non-null   object
 5   Price            2310 non-null   object
 6   Seats_Available  2310 non-null   object
 7   Ratings          2310 non-null   object
 8   Route_link       2310 non-null   object
 9   Route_name       2310 non-null   object
dtypes: object(10)
memory usage: 180.6+ KB

In [5]:
Final_df.isnull().sum()

Bus_name           0
Bus_type           0
Start_time         0
End_time           0
Total_duration     0
Price              0
Seats_Available    0
Ratings            0
Route_link         0
Route_name         0
dtype: int64

In [6]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       750.0
1       900.0
2       900.0
3       700.0
4       599.0
        ...
2305    524.0
2306    524.0
2307    524.0
2308    524.0
2309    524.0
Name: Price, Length: 2310, dtype: float64

In [7]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\TmC\AppData\Local\Temp\ipykernel_18884\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [8]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2310 non-null   object
 1   Bus_type         2310 non-null   object
 2   Start_time       2310 non-null   object
 3   End_time         2310 non-null   object
 4   Total_duration   2310 non-null   object
 5   Price            2310 non-null   float64
 6   Seats_Available  2310 non-null   object
 7   Ratings          2310 non-null   float64
 8   Route_link       2310 non-null   object
 9   Route_name       2310 non-null   object
dtypes: float64(2), object(8)
memory usage: 180.6+ KB

In [9]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [10]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [11]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,MMK Travels,VE A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,750.0,21 Seats available,4.4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SAAM BUS,VE A/C Sleeper (2+1),20:10,06:45,10h 35m,900.0,19 Seats available,4.5,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,NS Transports,NON A/C Sleeper (2+1),21:45,06:10,08h 25m,900.0,15 Seats available,4.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdDA Transports,A/C Sleeper (2+1),21:45,07:00,09h 15m,700.0,27 Seats available,3.6,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,599.0,37 Seats available,4.2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2305,Express Line,Volvo 9600 Multi Axle Semi-Sleeper (2+2),15:30,19:40,04h 10m,524.0,32 Seats available,4.6,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2306,Express Line (Karunamoyee),Volvo A/C Seater (2+2),15:45,20:45,05h 00m,524.0,19 Seats available,4.5,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2307,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo A/C Seater (2+2),16:00,21:00,05h 00m,524.0,31 Seats available,4.3,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2308,Greenline,Volvo 9600 Multi Axle Semi-Sleeper (2+2),16:00,20:00,04h 00m,524.0,25 Seats available,4.2,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2309,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),16:40,21:40,05h 00m,524.0,25 Seats available,4.0,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

In [12]:
Final_df.isnull().sum()

Bus_name           0
Bus_type           0
Start_time         0
End_time           0
Total_duration     0
Price              0
Seats_Available    0
Ratings            0
Route_link         0
Route_name         0
dtype: int64

In [13]:
# change dataframe to csv
path=r"C:/Users/TmC/Desktop/New_folder/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

# SQL DATABASE

In [14]:
import psycopg2

def create_bus_details_table():
    try:
        # Establish connection
        conn = psycopg2.connect(
            host="localhost",
            user="postgres",
            port="5432",
            database="redbus_data",
            password="05.svidhya.17"
        )

        # Enable autocommit
        conn.autocommit = True

        cursor = conn.cursor()

        drop_query='''DROP TABLE IF EXISTS bus_details;'''
        cursor.execute(drop_query)
        conn.commit()

        # SQL query to create the table
        create_query = '''
        CREATE TABLE IF NOT EXISTS bus_details (
                        ID SERIAL PRIMARY KEY,
                        Bus_name TEXT NOT NULL,
                        Bus_type TEXT NOT NULL,
                        Start_time TIMESTAMP NOT NULL,
                        End_time TIMESTAMP NOT NULL,
                        Total_duration TEXT NOT NULL,
                        Price DECIMAL NOT NULL,
                        Seats_Available TEXT NOT NULL,
                        Ratings FLOAT NULL,
                        Route_link TEXT NULL,
                        Route_name TEXT NULL
        )
        '''

        # Execute the create table query
        cursor.execute(create_query)
        print("Table created successfully")

    except psycopg2.Error as e:
        print(f"An error occurred: {e}")

    finally:
        # Close the cursor and connection
        if 'cursor' in locals():
            cursor.close()
        if 'conn' in locals():
            conn.close()

# Execute the function to create the table
create_bus_details_table()

Table created successfully

In [15]:
import pandas as pd

# Assuming 'Start_time' and 'End_time' columns are in 'HH:MM' format
Final_df['Start_time'] = pd.to_datetime(Final_df['Start_time'], format='%H:%M').dt.strftime('%Y-%m-%d %H:%M:%S')
Final_df['End_time'] = pd.to_datetime(Final_df['End_time'], format='%H:%M').dt.strftime('%Y-%m-%d %H:%M:%S')

# If you need to add a date component
# Example: Adding today's date as the date component
today_date = pd.Timestamp.now().strftime('%Y-%m-%d')
Final_df['Start_time'] = today_date + ' ' + Final_df['Start_time']
Final_df['End_time'] = today_date + ' ' + Final_df['End_time']

In [16]:
# Convert to datetime if not already
Final_df['Start_time'] = pd.to_datetime(Final_df['Start_time'], errors='coerce')
Final_df['End_time'] = pd.to_datetime(Final_df['End_time'], errors='coerce')

C:\Users\TmC\AppData\Local\Temp\ipykernel_18884\2106826141.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Final_df['Start_time'] = pd.to_datetime(Final_df['Start_time'], errors='coerce')
C:\Users\TmC\AppData\Local\Temp\ipykernel_18884\2106826141.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Final_df['End_time'] = pd.to_datetime(Final_df['End_time'], errors='coerce')

In [17]:
import pandas as pd
import psycopg2



# Ensure datetime format for Start_time and End_time
Final_df['Start_time'] = pd.to_datetime(Final_df['Start_time'])
Final_df['End_time'] = pd.to_datetime(Final_df['End_time'])

# Define the function
def insert_data_into_bus_details(Final_df):
    Final_df['Bus_type'] = Final_df['Bus_type'].fillna('Unknown')
    Final_df['Seats_Available'] = Final_df['Seats_Available'].fillna('Unknown')

    conn = None
    my_cursor = None

    try:
        conn = psycopg2.connect(
            host="localhost",
            user="postgres",
            port="5432",
            database="redbus_data",
            password="05.svidhya.17"  # Replace with your actual password
        )
        my_cursor = conn.cursor()

        insert_query = '''
        INSERT INTO bus_details(
            Bus_name,
            Bus_type,
            Start_time,
            End_time,
            Total_duration,
            Price,
            Seats_Available,
            Ratings,
            Route_link,
            Route_name)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        '''

        data = Final_df[['Bus_name', 'Bus_type', 'Start_time', 'End_time', 'Total_duration', 'Price', 'Seats_Available', 'Ratings', 'Route_link', 'Route_name']].values.tolist()

        for row in data:
            my_cursor.execute(insert_query, row)

        conn.commit()
        print("Values inserted successfully")

    except psycopg2.Error as e:
        print(f"An error occurred: {e}")

    finally:
        if my_cursor:
            my_cursor.close()
        if conn:
            conn.close()

# Call the function
insert_data_into_bus_details(Final_df)

Values inserted successfully